/.idea/misc.xml
/out/
/.idea/libraries/aircraft.xml
/.idea/Javions.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/submissions/2023-03-03_165258_RB50-96FW-1KYS-PGP9.zip
/submissions/2023-03-03_165718_7KPH-HKYJ-1SS8-CBBK.zip
/.idea/uiDesigner.xml
/tile-cache/
